<div class="modal-body">
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name"  required [(ngModel)]="occupant.name" #ocupant_name="ngModel">
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="surname">Surname</label>
			<input type="text" class="form-control" id="surname" required [(ngModel)]="occupant.surname" #occuapnt_surname="ngModel">
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-light" ngbAutofocus>Save Occupant</button>
</div>