<div class="modal-body">
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="validationCustom01">Name</label>
			<input type="text" class="form-control" id="validationCustom01" value="Mark" required>
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="validationCustom01">Surname</label>
			<input type="text" class="form-control" id="validationCustom01" value="Mark" required>
			<div class="valid-feedback">
				Looks good!
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-light" (click)="activeModal.close('Close click')" ngbAutofocus>Save Occupant</button>
</div>