<div class="modal-body">
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="name">Office Name</label>
			<input type="text" [class.is-invalid]="office_name.invalid && office_name.touched" (change)="onChange()" class="form-control" id="name" name="name" required #office_name="ngModel" [(ngModel)]="office.name">
			<div *ngIf="office_name.invalid && office_name.touched" class="invalid-feedback">
				Office Name is required
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="email">Email Address</label>
			<input type="email" [class.is-invalid]="email.invalid && email.touched" class="form-control" id="email" name="email" email required #email="ngModel" [(ngModel)]="office.email">
			<div *ngIf="email.invalid && email.touched" class="invalid-feedback">
				Invalid Email Address
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="tel">Office Tel</label>
			<input type="text" [class.is-invalid]="tel.invalid && tel.touched" mask="(000) 000-0000" class="form-control" id="tel" name="tel" #tel="ngModel" [(ngModel)]="office.tel">
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="location">Location</label>
			<input type="text" [class.is-invalid]="location.invalid && location.touched" class="form-control" id="location" name="location" required #location="ngModel" [(ngModel)]="office.location">
			<div *ngIf="location.invalid && location.touched" class="invalid-feedback">
				Location is required
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="capacity">Max Number of Occupants</label>
			<input type="number" [class.is-invalid]="capacity.invalid && capacity.touched" min="1" class="form-control" id="capacity" name="capacity" required #capacity="ngModel" [(ngModel)]="office.capacity">
			<div class="invalid-feedback">
				Capacity is required
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="capacity">Background Color</label>
			<input class="form-control" name="background_color" id="background_color" cpPosition="top" [class.is-invalid]="background.invalid && background.touched" [(colorPicker)]="office.background_color" [style.background]="office.background_color" required #background="ngModel" [(ngModel)]="office.background_color"/>
			<div class="invalid-feedback">
				Background Color is required
			</div>
		</div>
	</div>
	<div class="form-row">
		<div class="col-md-12 mb-3">
			<label for="capacity">Foreground Color</label>
			<input class="form-control" name="foreground_color" id="foreground_color" cpPosition="top" [class.is-invalid]="foreground.invalid && foreground.touched" [(colorPicker)]="office.foreground_color" [style.background]="office.foreground_color" required #foreground="ngModel" [(ngModel)]="office.foreground_color"/>
			<div class="invalid-feedback">
				Foreground Color is required
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-dark w-100" ngbAutofocus>Save Office</button>
</div>